.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.title {
  font-family: 'Roboto';
  font-weight: bold;
  color: #333333;
}

.stop-watch-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px;
}

.timer-container {
  display: flex;
  flex-direction: row;
}

.stop-watch-logo {
  width: 35px;
  height: 35px;
  padding-top: 7px;
}

.heading {
  font-family: 'Roboto';
  font-weight: 700;
  color: #333333;
}

.timer {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 40px;
  margin-top: 10px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 15px; /* adds equal space between buttons */
}

.start-button {
  background-color: #1db05f;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 7px;
  border: none;
  outline: none;
  cursor: pointer;
}

.stop-button {
  background-color: #ef0d36;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 7px;
  border: none;
  outline: none;
  cursor: pointer;
}

.reset-button {
  background-color: #eaa800;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 7px;
  border: none;
  outline: none;
  cursor: pointer;
}
